<html>
  <head>
    <title>Index file for {{ debian_name }}</title>
  </head>

  <body>
    <h1 style:"color: cyan;">Index file for {{ debian_name }}</h1>
    <p>
        This file is created by ansible role.<br />
        <a href="https://github.com/Anmol1032/Setting-phpmyadmin-by-ansible-role/tree/master">Git repo link</a>.<br />
        <hr />.<hr />
  </body>
</html>
